NODE_ENV=development
APP_ENV=local
APP_PORT=3030
APP_VERSION=latest
APP_API_URL=http://localhost:3030
LOG_LEVEL=trace
OPENAI_API_KEY="<openai api key>"
GEMINI_API_KEY="<gemini api key>"

ARTIFACT="<artifacts>"